/** Colores Tema Oscuro */

footer {
  background-color: #000000 !important;
}
html {
  color: white;
}

input {
  color: #9aa0a6 !important;
}

body {
  background-color: #000000 !important;
  color: white !important;
  nav {
    margin: 70px 0 0px 0 !important;
    background-color: #0000;
    border-bottom: solid 4px white;
  }

  .icon-menu-item {
    width: 48px;
    margin-right: 5px;
  }

  @media only screen and (max-width: 994px) {
    nav ul li a {
      font-size: 1.5rem !important;
    }
    nav ul {
      gap: 0px !important;
    }
  }

  @media only screen and (max-width: 700px) {
    nav ul li a {
      font-size: 1.2rem !important;
    }
    nav ul li a .material-icons {
      display: none;
    }
    .icon-menu-item {
      width: 32px;
    }
  }
  @media only screen and (max-width: 450px) {
    nav ul {
      flex-direction: column !important;
    }
    .icon-menu-item {
      width: 22px;
    }
  }
  .card {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .divider {
    opacity: 0.2;
  }
  .sidenav {
    background-color: #37474f;
  }
  /*.sidenav {
      background-color: #2D2D31;
      li {
        a {
          &:not(.subheader){
            color: #ffda00;
            &:hover {
              background-color: #3B4043;
            }
          }
          &.subheader {
            color:#9AA0A6;
          }
          .material-icons {
            color: #9AA0A6;
          }
        }
      }
    }*/
  .collection {
    border: 1px solid rgba(255, 255, 255, 0.2);
    .collection-item {
      background-color: rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  input {
    -webkit-color: #9aa0a6;
  }

  textarea {
    color: #9aa0a6;
  }

  label {
    color: white;
  }
  span {
    color: #fff !important;
  }

  .swal2-html-container a {
    color: #039be5;
  }
}

a {
  color: white;
}
.brand-logo {
  font-size: inherit !important;
}

nav .brand-logo.center {
  transform: translateX(-65%);
}

.dropdown-content.select-dropdown {
  background-color: #2d2d31;
}
.toast {
  background-color: white;
  color: black;
}

.dropdown-content li {
  background-color: #2d2d31;
}

.sidenav-header {
  height: 64px;
  color: white;
  background: inherit;
  background: #37474f;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  line-height: 48px;
}

.sidenav li {
  line-height: inherit;
}
.dropdown-content li > a,
.dropdown-content li > span,
.sidenav li > a,
.sidenav li > a > i.material-icons {
  color: #fbfbfb;
}

.collection .collection-item,
.dropdown-content,
.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body,
.sidenav {
  background: #37474f;
}
/* FIN Colores Tema Oscuro */

/* Estilos cursos */
.title {
  font-size: 40pt;
}
@media only screen and (max-width: 800px) {
  .title {
    font-size: 30pt;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 20pt;
  }
}

.ls-filters {
  font-size: 18px;
  font-weight: 600;

  a {
    font-weight: 600;
  }
}

.course-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
}

.course-image {
  img {
    width: 340px;
  }
}

.item-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
}

.item-course .card-content {
  text-align: center;
}

.course-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.course-image {
  display: flex;
  justify-content: center;
  video,
  img {
    width: 280px;
    max-height: 336px;
  }
}

@media screen and (max-width: 1320px) {
  .course-image {
    width: 100%;
    video,
    img {
      width: 100%;
    }
  }
  .course-item {
    width: 100%;
  }
  .item-row {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    width: 100%;
  }
  .course-card-action {
    display: none;
  }
  .course-name {
    font-size: 1.3rem;
  }
}
.item-menu-filter {
  color: white !important;
}
.item-menu-filter:hover {
  color: #38a37f !important;
}
/* FIN Estilos cursos */

.btn-download {
  border-radius: 50px;
  background-color: #278d46;
  font-size: 18px;
  width: 566px;
  height: 122px;
  padding: 40px 8px;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .btn-download {
    width: 90%;
    height: auto;
    font-size: 30px;
    padding: 20px 8px;
  }
}

@media only screen and (max-width: 686px) {
  .item-row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
  }
  .course-item {
    width: 44% !important;
    margin: 7px;
    min-width: 168px;
  }
}
